/* CSS */
body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 34px;
    color: #777;
    background: #000;
    /* background: url("../images/background_image.png"); */
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
  }
  
    /* For sticky footer styling; code snippets from 
  https://css-tricks.com/snippets/css/sticky-footer/*/
  html,
  body {
    height: 100%;
  }
  
  .wrapper {
    height: auto !important;
    height: 100%;
    min-height: 100%;
    margin: 0 auto -105px;
  }
  
  footer,
  .push {
    height: 105px;
  }
  
  /* End sticky footer styling */
  
  /* General styling */
  #wrapper {
      width: 100%;
      /* max-width:960px; */
      margin: 0 auto;
  }

  /* h1,
  h2,
  h3 {
    font-family: 'Indie Flower', cursive;
    font-weight: 700;
    color: #4aaaa5;
  } */
  
  h1 {
    font-size: 30px;
    line-height: 49px;
  }

  p {
    color: #000;
  }

  #master-head {
    position: fixed;
    z-index: 99;
    margin: 0 0 30px;
    width: 100%; 
    color: #fff;
    background: #fff;
    border-bottom: 2px solid #ccc;
    padding:20px;
  }
  
  section {
    padding:30px;
    background:#fff;
    border: 1px solid #ddd;
  }
  .sidebar {
    padding:30px;
    background:#fff;
    border: 1px solid #ddd;
    margin:8px;
  }

  #logo {
    float: left;
    font-family: 'Kurale', serif;
    font-size: 20px;
    font-weight: 100;
    line-height: 18px;
    color: #fff;
    text-align: center;
  }
  
 .nav-item {
    line-height: 18px;
    font-family: 'Kurale', serif;
    color:#999;
  }
  
  
  .nav-item:first-child {
    border-left: 0 none;
  }

  /* Footer */
  
  footer {
    margin-top:30px;
    padding: 30px 0;
    font-size:12px;
    color:#ccc;
    text-align:center;
    background:#666;
    border-top: 8px solid #4aaaa5;
    height: 80px;
  }

  #connectMe{
    text-align: center;
  }  
  /* Main */
  
  /*Padding pushes main container out from
   behind .masterhead which z-index is 99 */
  #main-container {
    padding-top: 130px;
    min-height: calc(100vh - 70px);
  }

  /* Connect with me  */

  .connect-row {
    width:300px;
    max-width: 100%;
    margin: 0 auto;
  }
  
  #github:hover {
    content:url("../images/github_hover.png");
  }
  
  #stackoverflow:hover {
    content:url("../images/stackoverflow_hover.png");
  }
  
  #linkedin:hover {
    content:url("../images/linkedin_hover.png");
  }

  #twitter:hover {
    content:url("../images/twitter_hover.png");
  }
  
  #email:hover {
    content:url("../images/email_hover.png");
  }
  /* Portfolio Page */
  
  .work {
    margin: 20px 10px 25px;
    overflow:auto;
    padding:0;
  }
  
  
  .work img {
    opacity:0.8;
  }
  
  .work h3{
    position: absolute;
    bottom: 20px;
    width:100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color:#fff;
    text-align: center;
    background: #4aaaa5;
  }
  
  .auth-image{
    border-radius:10px;
    float:left;
    width: 400px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
  }
  
  /* Contact Page */
    #contact-form  ul{
    margin-bottom: 20px;
  }
  
  #contact-form  li{
    margin-bottom: 10px;
  }
  
  label,
  input[type=text],
  input[type=email],
  textarea {/*No other element block go beside it */  
    display: block; 
    width: 100%;
  }
  
  input[type=text],
  input[type=email],
  textarea {
    height: 35px;
    padding: 0 10px;
    font-size: 14px;
    border:1px solid #ddd;
  }
  
  textarea {
    height: 200px;
  }
  
  input[type=submit] {
    padding: 10px 30px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    background: #4aaaa5;
    border: 0 none;
  }
  
   
  /* start hover styling */
  input[type=submit]:hover {
    background: #5e7f7e;
  }
  
  .work img:hover {
    opacity: 1;
  }

  .work h3:hover {
    color: #fff;
    background: #5e7f7e;
  }
  
  /* End hover styling */
  #welcome{
    width:100%;
    height: 500px;
    color: #4188ff;
    background-color: black;
    /* background-position: center; */
  }

  #name {
    font-family: 'Kurale', serif;
    font-weight: bolder;
    font-size: 30px;
    color:#fff;
  }


  /* Media Queries */
  /* @media (max-width: 991px){
  #master-head {
      text-align: center;
  } */

  /* .contact-button {
    text-align: center;
} */
/* }


@media (max-width: 991px){
  .contact-button {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 60px;
  }
}  


@media (min-width: 992px){
.col-md-offset-6 {
  margin-left: 50%;
  }
}

@media (min-width: 992px){
.col-md-6 {
  width: 50%;
  }
} */